.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 10%;
    background-image: linear-gradient(#FFC75F 97%, #E7B355 0%, #E7B355);
}