.profile-name {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.translation-text {
    color: white;
}

.profile-split-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-user-div {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-history-div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-column {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-start {
    justify-content: start;
}

.col-end {
    justify-content: end;
}

.history-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 400px;
    width:80%;
    min-width: fit-content;
    background-image: linear-gradient(#FFC75F 15%, white 0%, white 88%, #845EC2 0%, #845EC2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.history-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    color: #969696;
}

.history-button {
    height: 6%;
    width: 50%;
    border: 0;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 4%;
    color: #969696;
    cursor: pointer;
}

.logout-button {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    font-size: medium;
    border: 0;
    color: #969696;
    cursor: pointer;
}