.sign {
    width: 3.5rem;
    height: 3.5rem;
}

.blank {
    filter: opacity(0);
}

.sign-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 42rem;
    height: 18rem;
    padding: 2rem;
    background-image: linear-gradient(white 90%, #845EC2 0%, #845EC2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.sign-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.translate-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.translate-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 100px;
    width: 65%;
}

.translate-input-div {
    height:30%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translate-output-div {
    height:70%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}